:root {
    --kbl: #809bce;
    --klight-bl: #95b8d1;
    --kgreen: #b8e0d2;
    --klight-green: #d6eadf;
    --kpink: #eccddb;
    --kwhite: rgb(255, 255, 255);
    --kcard-bg: rgba(255, 255, 255, 0.1);
}